* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}


/* logo */
.navbar-brand img {
    max-width: 70px;
}

/* nav */

.navbar.top{
    background-color: #000 !important;
}

.nav-link.top
{
    color: #fff;
   
}

.nav-link
{
    color: #a60303;
    text-align: center;
    margin-right: 6px;
}

.nav-link:hover {
    color: #f20505;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28242, 5, 5, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* menu */

/* largura e altura da imagem */


.content-map {
    width: 70%;
    height: 100%;
    margin: 0 auto 32px auto;
    padding: 12px;
}

.content-map h1 {
    margin-top: 10px;
    text-align: center;
    color: #a60303;
}

.img-fluid {
    border-radius: 15px;
    border: solid 2px #f20505;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

area:hover {
    cursor: pointer;
}

/* newbar */

.newbar {
    width: 60%;
    height: 100%;
    margin: 0 auto 32px auto;
    padding: 12px;
    text-align: center;
}

.newimg {
    border: #a60303 2px solid;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* dispositivos */

@media (max-width: 768px) {
    .content-map {
        width: 100%;
        padding: 0px;
    }

    .newbar {
        width: 100%;
    }
}


/* ajuda */
.dicas,table {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
}

/* tcc */
.tcc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
}
