* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}


/* logo */
.navbar-brand img {
    max-width: 70px;
}

/* nav */

.navbar.top{
    background-color: #000 !important;
}

.nav-link.top
{
    color: #fff;
   
}

.nav-link
{
    color: #a60303;
    text-align: center;
    margin-right: 6px;
}

.nav-link:hover {
    color: #f20505;
}

/* menu */

/* largura e altura da imagem */


.content-map {
    width: 70%;
    height: 100%;
    margin: 0 auto 32px auto;
    padding: 12px;
}

.img-fluid {
    border-radius: 15px;
    border: solid 2px #f20505;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

area:hover {
    cursor: pointer;
}

/* newbar */

.newbar {
    width: 60%;
    height: 100%;
    margin: 0 auto 32px auto;
    padding: 12px;
    text-align: center;
}

.newimg {
    border: #a60303 2px solid;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* dispositivos */

@media (max-width: 768px) {
    .content-map {
        width: 100%;
        padding: 0px;
    }

    .newbar {
        width: 100%;
    }

    .navbar-nav.custom-grid {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        list-style-type: none;
        padding: 0;
    }
}

